h2{
    color: antiquewhite;
}
table, th, td {
    border: 1px solid white;
    border-collapse: collapse;

  }
  th, td {
    background-color: #96D4D4;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  p {text-align: center;}